BasedOnStyle: Microsoft
Language: Cpp
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 140
BreakBeforeBraces: Allman
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: All
FixNamespaceComments: false
BreakStringLiterals: false
SortIncludes: Never
ReflowComments: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
LineEnding: CRLF
